<style>
  body {
    background: url('https://prodigalthought.files.wordpress.com/2015/12/book-stack.jpg?w=950');
    background-size: cover;
    color: #fff;
  }

  a {
    color: #e8dca7;
  }
</style>

<% if current_user %>
      Welcome, <%= current_user.username %>
<% end %>
    <ul id='links'>
    <% @links.each do |link| %>
    <li>
      Title: <%=link.title%>
      URL: <a href="<%=link.url%>"><%=link.url%></a>
      Tag: <% link.tags.each do |tag| %>
      <%= tag.name %>
      <% end %>
    </li>
    <% end %>
  </ul>
<a href="/links/new"><button>Add new link</button></a>
